@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-deep-night;
}

@layer utilities {
  .animate-blink {
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

html {
  scroll-behavior: smooth;
}
